.user {
    position: relative;
}
.user .popover {
    visibility: hidden;
    top: .7rem;
    left: .7rem;
}
.user:hover .popover,
.user .popover:hover {
    visibility: visible;
}
.user .popover-header {
    white-space: nowrap;
}
.user .popover-body a {
    white-space: nowrap;
}
