/* FIX OVERSIZE IMAGES */

img {
    max-width: 100%;
    height: auto;
}


/* POPOVERS FOR USERNAMES */

.user {
    position: relative;
}
.user .popover {
    visibility: hidden;
    top: .7rem;
}
.user:hover .popover,
.user .popover:hover {
    visibility: visible;
}
.user .popover-header {
    white-space: nowrap;
}
.user .popover-body a {
    white-space: nowrap;
}


/* USER AVATARS */

.card-header > .avatar {
    width: 1.5rem;
    margin-top: -0.3rem;
}
.popover .avatar {
    max-width: 7rem;
}
