/* FIX OVERSIZE IMAGES */

img {
    max-width: 100%;
    height: auto;
}


/* POPOVERS FOR USERNAMES */

.user {
    position: relative;
}
.user .popover {
    display: none;
    top: .7rem;
}
.user:hover .popover,
.user .popover:hover {
    display: block;
}
.user .popover-header {
    white-space: nowrap;
}
.user .popover-body a {
    white-space: nowrap;
}


/* USER AVATARS */

.card-header > .avatar {
    width: 1.5rem;
    margin-top: -0.3rem;
}
.popover .avatar {
    max-width: 7rem;
}


/* ISSUE INDEX */

.issue-preview {
    display: flex;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.issue-preview > a {
    color: inherit;
    flex-grow: 1;
    flex-shrink: 1;
}
.issue-preview > a:hover {
    border-color: var(--primary);
    text-decoration: none;
}


/* INLINE EMOJI */
img.gemoji {
    font-size: 1.2em;
    font-style: normal !important;
    font-weight: 400;
    line-height: 20px;
    max-height: 1em;
    margin-top: -.3em;
    vertical-align: middle;
}


/* GFM CHECKLISTS */
.task-list .task-list-item {
  list-style-type: none !important;
}
.task-list .task-list-item input[type="checkbox"] {
  margin: 0 4px 0.25em -20px;
  vertical-align: middle;
}
